@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9fafb;
  --text-primary: #374151;
  --text-secondary: #6b7280;
  --primary: #2563eb;
  --accent: #f59e0b;
}

body {
  color: var(--text-primary);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
